<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style>

html {
  /* https://css-tricks.com/simplified-fluid-typography/ */
  font-size: clamp(5px, .8rem + 1vw, 92px);
}

body {
  --measure:  min(90%, 48ch);
  background-color: #fffff8;
  color: #111;
  counter-reset: sidenote-counter;
  font-family: Palatino,Georgia,serif;
  margin: 0;
  width: 100vw;
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
}

p {
  line-height: 1.6em;
}

h1,h2 {
  font-family: 'Gill Sans','Helvetica Neue', sans-serif;
  font-weight: 600;
}
h1 {
  font-size: 3em;
  padding-top: 1em;
  letter-spacing: -1.5px;
}

img {
  width: 100%;
}

  </style>

  </head>
  <body>

  {{content | safe}}

  </body>
</html>
